<% layout('boilerplate') -%>
    
<h1> Shopping With Docker ! </h1>

<p> Staring to test openshift </p>
<p> Signup to login</p>

<h3> Start your search here</h3>
<p> Best Pricess ever</p>

<h3> look for items</h3>
<p> These will appear accross the site</p>

<h3> Smart Cart</h3>
<p> Buy smart carts items</p>